.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav {
    display: flex;
    gap: 1.25rem;
}

.footer-nav span {
    color: #EDEDED;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1rem;
}

.footer-col ul li a {
    color: #ffffff;
    font-size: 1rem;
}

.footer-col {
    display: flex;
    flex-direction: column;

}

.footer-col ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form input {
    border-radius: 30px;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
    display: flex;
    flex-direction: column;
}

.footer-social span {
    margin-bottom: 1rem;
    display: block;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;

}

.footer-social li a:hover img {
    opacity: 0.7;
}

.footer-copy {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-nav {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-social ul {
        gap: 1rem;
    }

    .footer-copy {
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }
}